c++example/
*.o
code/userprog/nachos

code/bin/coff2noff
code/threads/nachos
code/filesys/nachos
code/network/nachos
code/test/halt.coff
code/test/shell.coff
code/test/sort.coff
code/test/sort
code/test/halt
code/test/matmult.coff
code/vm/nachos

